.Card{
text-align: center;
border: 1px solid #dedede;
padding: 20px;
width: 80%;
margin: 20px auto;
}

.Card h2{
font-size: 1em;
margin-top: 20px;
}

.Card img{
width: 200px;
height: 200px;
border-radius: 50%;
}